#screen {
	position: relative;
	border: 30px solid transparent;
	border-image-source: url(../assets/bezel-amber.png);
	border-image-slice: 30 fill;
	border-image-outset: 0;
	overflow: hidden;
}
/* The screen itself + border */
#crt,
pre {
	font-family: "VT323", monospace;
}
#crt {
	min-width: 50vh; /* This makes 80 monospace characters fit on the screen */
	height: calc(75vh * 0.8);
	font-size: max(
		1rem,
		2.2vmin
	); /* Scale the font-size relative to the minimum screen dimension */
	position: relative;
	background: var(--user-bg-color);
	background-image: radial-gradient(
		ellipse,
		var(--user-bg-color) 0%,
		var(--off) 90%
	);
	animation: on 2s linear;
	transition: all 0.5s;
	overflow: hidden;
}

#crt:after {
	content: " ";
	opacity: 0;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
}


.texture-overlay {
	/* margin: 3vmin auto;
     padding: 5.5vmin;
     width: 100%; */
     /* width: min-content; */
     /* display: flex; */
     /* flex-direction: column; */
     /* align-items: center; */
     /* background: #3f3933; */
     /* background: #281909; */
     /* background-color: #281909; */
     /* background-color: #281909;
     background-image: url(../../assets/dusty_monitor_texture.png); */
     /* border-radius: 0.5rem; */

     /* background-image: url(../../assets/dusty_monitor_texture.png);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center; */
	/* background-image: url('../../assets/dusty_monitor_texture.png');
	background-size: cover;
	background-position: center;
	mix-blend-mode: multiply;
	opacity: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overscroll-behavior: none; */
  }
  
  .lines-overlay {
	background-image: url('../assets/crt_monitor_pattern.png');
	background-repeat: repeat;
	background-size: 20px;
	background-position: center;
	mix-blend-mode: multiply;
	opacity: 20%;
	z-index: 9998;
	pointer-events: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overscroll-behavior: none;
  }
  
  .dots-overlay {
	background-image: url('../assets/pixels_pattern.jpg');
	background-repeat: repeat;
	background-size: 20px;
	background-position: center;
	mix-blend-mode: add;
	opacity: 19%;
	z-index: 9997;
	pointer-events: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overscroll-behavior: none;
  }