#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html {
  background-image: url('./assets/dusty_monitor.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* background-image: url('./assets/tropical_monitor.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  /* background-image: url('./assets/candy_monitor.jpg'), linear-gradient(rgba(255, 48, 48, 0.1), rgba(0, 0, 0, .1)); */
  /* background-image: url('./assets/halloween_monitor.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  /* background-blend-mode: multiply; */
  background-size: cover;
  background-position: center;
  color: var(--user-accent-color);
  font-size: 14px;
  line-height: 1.25;
  font-family:'Courier New', Courier, monospace;
  overscroll-behavior: none;
}

a {
  font-weight: 500;
  color: var(--user-accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--user-accent-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--user-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--user-accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--user-accent-color);
    background-color: var(--user-bg-color);
  }
  a:hover {
    color: var(--user-accent-color);
  }
  button {
    background-color: var(--user-bg-color);
  }
}

/* .texture-overlay {
  background-image: url('./assets/dusty_monitor_texture.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

.lines-overlay {
  background-image: url('./assets/crt_monitor_pattern.png');
  background-repeat: repeat;
  background-size: 20px;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 20%;
  z-index: 9998;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

.dots-overlay {
  background-image: url('./assets/pixels_pattern.jpg');
  background-repeat: repeat;
  background-size: 20px;
  background-position: center;
  mix-blend-mode: add;
  opacity: 19%;
  z-index: 9997;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
} */

.page-container {
  /* max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  mix-blend-mode: screen;
  overscroll-behavior: none; */
}

.terminal-area {
  display: flex;
  flex-direction: row;
}
